.vsr-about-me{
    background: #fff;
    border: solid 2px #ee7460;
    border-radius: 5px;
    padding: 15px;
    max-width: 200px;
}
.vsr-about-me img{
    border-radius: 10px;
    border: solid 1px #ddd;
}
a.button.vsr-support-button {
    margin-top: 8px;
}
.vsr-settings {
    display: flex;
    width: 100%;
}
.vsr-settings-left{
    flex: 0 0 calc(100% - 200px );
}
.vsr-icons-list{
    display: flex;
}
.vsr-icons-list > div{
    border: solid 1px #ddd;
    background: #fff;
    margin-right: 10px;
    width: 30px;
    border-radius: 5px;
    padding: 5px;
}
.vsr-icons-list img {
    max-width: 20px;
    margin: 0 auto;
    display: block;
    max-height: 20px;
}
.vsr-reaction-type{
    margin-bottom: 3px;
    background: #fff;

}
.vsr-reaction-type td{
    padding: 10px;
}
.vsr-reaction-type-counter div {
    border: solid 1px #7aa0b0;
    background: #c5edff;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 1.8;
    font-weight: bold;
    margin-right: 10px;
}
.vsr-reaction-type-counter div::before{
    counter-increment: rowNumber;
    content: counter(rowNumber);
}
.vsr-reactions-table{
    width: 100%;
    counter-reset: rowNumber;
}
.vsr-reactions-table tr th{
    text-align: left;
}
.vsr-reaction-type-icon .rahularyan-vsr-remove-icon-btn{
    display: none;
}
.vsr-reaction-type-icon.has-image a.rahularyan-vsr-upload-btn{
    display: none;
}
.vsr-reaction-type-icon.has-image .rahularyan-vsr-remove-icon-btn{
    display: inline-block;
}
.vsr-reaction-type-icon img{
    max-width: 20px;
}
.vsr-reaction-type-no-row{
    text-align: center;
}
tr.vsr-reaction-info {
    background: #fff;
    font-style: italic;
}
tr.vsr-reaction-info td {
    padding: 10px;
}
.vsr-reaction-type-show_on{
    display: none;
}
.vsr-reaction-type-field.active .vsr-reaction-type-show_on{
    display: block;
}