#rahularyan-vsr {
    display: flex;
}
.rahularyan-vsr{

}
#rahularyan-vsr a{
    border: solid 1px #ddd;
    margin-right: 5px;
    background: #fff;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
}
#rahularyan-vsr a.rahularyan-vsr-active {
    background: #c1e2c4 !important;
    border-color: #64d16e !important;
}
.rahularyan-vsr a img {
    max-width: 20px;
    display: inline-block;
    width: 20px;
}
.rahularyan-vsr-tooltip{
    position: absolute !important;
    background: #fff !important;
    font-size: 14px !important;
    padding: 2px 10px !important;
    border-radius: 4px !important;
    box-shadow: 0 -1px 4px rgb(0 0 0 / 40%) !important;
    display: none;
}
.rahularyan-vsr-tooltip::after {
    content: " ";
    display: block;
    border: solid 5px transparent;
    position: absolute;
    margin-left: calc( 50% - 9px );
    border-top-color: #fff;
    margin-top: 2px;
}
.rahularyan-vsr-tooltip.error{
    background: red !important;
    color: #fff !important;
}
.rahularyan-vsr-tooltip.error::after {
    border-top-color: red;
}
#rahularyan-vsr [data-vsr-count]{
    margin-left: 4px;
    font-weight: bold;
}
#rahularyan-vsr [data-vsr-count="0"]{
    display: none;
}
